.cards{
	transition:all 0.5s;
	box-shadow:2px 2px 0px rgb(11, 42, 91);
}
.cards:hover{
	transform:scale(1.04);
	background-color:white;
}
nav{
	z-index:100;
}
.card{
	transition:all 0.5s;
}
.card:hover{
	transform:scale(1.05);
}
.icon:hover{
	border-bottom:2px solid orange;
}
.icon2:hover{
	color:orange;
}
.imghj{
	transition:all 0.4s;
}
.imghj:hover{
	box-shadow:2px 3px 3px white;
	border:1px solid darkblue;
}
.trust{
	animation-name:rotate;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
@keyframes rotate{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.09);
	}
	100%{
		transform: scale(1);
	}
}
.iconss{
	transition:all 1s;
}
.iconss:hover{
	transform:rotate(360deg);
	background-color:#F57C00;
}
.ghkl{
	margin-top:20.4%;
	border:1px solid lightgray;
	border-radius:10px;
	font-size:18px;
}
.login{
	border:1px solid darkblue;
	margin-top:5%;
	float:left;
	margin-left:2%;
	padding:5px 15px;
	border-radius:10px;
	font-size:20px;
	transition:all 0.4s;
}
.login:hover{
	background-color:#0B2A5B;
	color:white;
}
.Contact{
	background-color:orange;	
	margin-top:5%;
	float:left;
	margin-left:2%;
	padding:5px 15px;
	border-radius:10px;
	font-size:20px;
	transition:all 0.4s;
}
.Contact:hover{
	background-color:#0B2A5B;
	color:white;
}